---
title: catalog
page: catalog
hero: {
  sm: true,
  bg: 'hero/1.png'
}
sectionIcon: {
  title: 'הקמת ותחזוקת קטלוג מוצרים',
  text: '
    <p>תר איקומרס מתאפיין בדינאמיות שבאה לידי ביטוי, בין השאר, בעדכון והוספת מוצרים בתדירות גבוהה. אתרים רבים מציעים אלפי מוצרים בכל רגע נתון,</p>
    <p> ומוסיפים עשרות ואף מאות מוצרים חדשים מידי חודש. עדכון התכנים והוספת המוצרים לאתר, הן פעולות סיזיפיות שגוזלות זמן רב ודורשות מיומנות רבה. כתיבה איכותית, </p>
    <p>מפרט מלא וברור ותמונות ברמה גבוהה, ישפרו עבורכם באופן דרמטי את אחוזי ההמרה, וייעלו את פעולת האתר. כתיבת תכנים ייחודיים (בניגוד להעתקת תכנים </p>
    <p>אתרים עם מוצרים דומים) הינה מהותית לקידום האתר, היות וגוגל מזהה תכנים מועתקים ופוגע במיקומים של האתר בחיפוש האורגני. מועד העלאת התכנים מהווה גם הוא גורם בעל משקל לא מבוטל, שהרי כל יום שבו מוצר לא נמצא באתר, עשוי להיות מתורגם לאיבוד עסקאות ולהפסד כספי. ל-WeCommerce מחלקה המתמחה בעדכון תכנים והוספת מוצרים לאתר. צוות המחלקה מיומן בעיצוב אופטימלי של דפי מוצר, וכל זאת בזמן תגובה מהיר ביותר ובעלויות משתלמות.</p>',
  icon: 'home/icon2@2x.png'
}
services: {
  mod: 'services--full',
  items: [
    {
      img: 'home/icon1@2x.png',
      title: 'שירות לקוחות לאתרי סחר'
    },
    {
      title: 'ניהול מערך השילוח',
      img: 'home/icon3@2x.png'
    },
    {
      img: 'home/icon4@2x.png',
      title: 'Marketing Automation ו-SEO'
    },
    {
      img: 'home/icon_amazon@2x.png',
      title: 'ניהול חנויות אמזון'
    }
  ]
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/_s-icon.html" %}
  {% include "partials/_s-form-services.html" %}
{% endblock %}
