$fz:       20px
$fz-md-px: 18px
$fz-sm-px: 14px
$fz-xs-px: 12px
$fz-sm:    em(14)
$fz-xs:    em(12)

$text-inputs: "[type='color']", "[type='date']", "[type='datetime']", "[type='datetime-local']", "[type='email']", "[type='month']", "[type='number']", "[type='password']", "[type='search']", "[type='tel']", "[type='text']", "[type='time']", "[type='url']", "[type='week']", "input:not([type])", "textarea"
$check-inputs: "[type='checkbox']", "[type='radio']"

$c-text:          #000
$black:           #000
$black-secondary: #050505
$white:           #fff
$c-light:         rgba(0, 0, 0, 0.16)
$blue:            #C8E5F3
$dark:            #050505
$accent:          #F9DA32
$accent-2:        #00606C
$gray:            #707070

$header-height:    101px
$header-height-lg: 42px

$hero-height:    766px - $header-height
$hero-height-xl: 600px
$hero-height-lg: 500px
$hero-height-md: 400px
$hero-height-sm: 250px


$container-padding:  30px
$container-width:    1038px + ($container-padding*2)
$container-lg-width: 1186px + ($container-padding*2)
$container-xl-width: 1626px + ($container-padding*2)

$container-width-xl:    $container-width - 100px
$container-lg-width-xl: $container-lg-width - 100px
$container-xl-width-xl: $container-xl-width - 340px

$container-width-lg:    $container-width - 100px
$container-lg-width-lg: $container-lg-width-xl - 100px
$container-xl-width-lg: $container-xl-width-xl - 100px

$container-width-md:    $container-width-lg - 100px

=windowHeight($offset: 0px)
  height: calc(100vh - #{$offset})
  height: calc((var(--vh, 1vh) * 100) - #{$offset})

=windowMinHeight($offset: 0px)
  min-height: calc(100vh - #{$offset})
  min-height: calc((var(--vh, 1vh) * 100) - #{$offset})

$shadow: 0px 3px 6px $c-light
=shadow
  box-shadow: $shadow
