<!-- begin header -->
<header class="header">
  <div class="container container--lg">
    <div class="header__inner">
      <div class="header__nav-wrap js-menu">
        {# <div class="container"> #}
          {{ mixins.list(
            name = 'nav',
            hasWrap = true,
            modifications = { wrap: 'header__nav', item: '', link: '' },
            list = [
              { link: 'הסיפור שלנו', modItem: 'nav__item-current' },
              { link: 'השירותים שלנו' },
              { link: 'הידעת' },
              { link: 'בלוג' },
              { link: 'צור קשר' }
            ]
          ) }}
        {# </div>  #}
        <a href="#" class="header__lang">Eng</a>
      </div>

      <button class="header__burger burger js-burger"><span></span></button>
    </div>
  </div>

  <a href="/" class="header__logo">
    <img class="js-lazy" alt="" src="about:blank" data-src="./img/home/logo111.png"/>
  </a>
</header>
<!-- end header -->