<!-- begin hero -->
<section class="hero js-lazy{% if hero.mod %} {{ hero.mod }}{% endif %}" data-background-image="./img/{{ hero.bg }}">
  {% if not hero.sm %}
  <div class="container">
    <video src="about:blank" class="hero__video js-lazy" autoplay="" muted="" loop="" playsinline="" data-src="./video/test-drive.mp4"></video>
    <div class="hero__inner">
      <h1 class="hero__title title title--h1">GET MORE OUT OF YOUR E-COMMERCE</h1>

      <div class="hero__btn">
        {{ mixins.btn(
          title = 'צור קשר',
          mod = ''
        ) }}
      </div>
    </div>
  </div>
  {% endif %}
</section>
<!-- end hero -->