{%set
form = {
  fields: [
    {
      name: 'input',
      mod: '',
      placeholder: '*שם מלא',
      type: 'text'
    },
    {
      name: 'input',
      mod: '',
      placeholder: '*טלפון',
      type: 'text'
    },
    {
      name: 'input',
      mod: '',
      placeholder: '*מייל',
      type: 'text'
    },
    {
      name: 'input',
      mod: '',
      placeholder: 'שם העסק',
      type: 'text'
    }
  ]
}
%}

<!-- begin section -->
<section class="section section--bg s-form-service js-lazy" data-background-image="./img/home/sipur_bg.png">
  <div class="container">
    <form class="s-form-service__form form">

      <div class="form__fields">
        {% for i in form.fields %}
        <div class="form__field">
          {{ mixins.input(
            name = i.name,
            mod = i.mod,
            type = i.type,
            placeholder = i.placeholder,
            value = '',
            fieldClass = ''
          ) }}
        </div>
        {% endfor %}
      </div>

      <div class="form__btn">
        {{ mixins.btn(
          title = 'צור קשר',
          mod = '',
          href = false
        ) }}
      </div>
    </form>
    
    {% include "partials/_services.html" %}
  </div>
</section>
<!-- end section -->