<!-- begin section -->
<section class="section section--icon">
  <div class="section__right-icon-wrap">
    <div class="section__right-icon service-img service-img--side">
      <img class="js-lazy" alt="" src="about:blank" data-src="./img/{{ sectionIcon.icon }}"/>
    </div>
  </div>

  <div class="container">
    <h2 class="section__title title title--h2">{{ sectionIcon.title | safe }}</h2>

    <div class="section__text">{{ sectionIcon.text | safe }}</div>
  </div>
</section>
<!-- end section -->