<!-- begin section -->
<section class="section s-blog">
  <div class="container container--xl">
    <div class="section__side-wrap">
      <div class="section__side-content">
        {{ mixins.post() }}

        <div class="section__posts">
          {% for i in range(0, 5) %}
          {{ mixins.post(
            mod = 'section__post--sm post--sm',
            img = 'pexels-photo-669615-1.png'
          ) }}
          {% endfor %}
        </div>

        <div class="section__controls-links section-controls">
          <a href="#" class="section-controls__link">&lt; לעמוד הקודם</a>
          <a href="#" class="section-controls__link">לעמוד הבא &gt;</a>
        </div>
        
      </div>
      
      <div class="section__side-aside">
        {% include "partials/_aside.html" %}
      </div>
    </div>
  </div>
</section>
<!-- end section -->