<!-- begin section -->
<section class="section section--bg s-descr js-lazy" data-background-image="./img/home/sipur_bg.png">
  <div class="container container--lg">
    <h2 class="section__title s-descr__title title title--h2">הסיפור שלנו</h2>

    <!-- begin descr -->
    <div class="descr">
      <p>וויקומרס הוקמה בשנת 2015 כניסוי שמטרתו לחקור ולהבין את הצרכים של אתרי איקומרס וכיצד אתרים אלו יכולים להרוויח ממהפכת המכירות באינטרנט. אבל במקום להסתפק בתיאוריה, צללנו לפרקטיקה והקמנו אתר מכירות אמיתי - בנינו סביבו מערך שירות לקוחות, מכירות, לוגיסטיקה ושיווק והתנסנו על בשרנו בתפעול השוטף. למדנו את הצרכים, הבעיות והקשיים ופיתחנו פתרונות יעילים שמתאימים לצרכים וליכולות של אתרים קטנים, בינוניים וגדולים. כיום אנו מציעים לחברות נוספות ליהנות ממערך התפעול, השירות והשיווק המתקדם שבנינו, מכוח האדם המנוסה ומהידע שצברנו.</p>
      <p>וויקומרס הוקמה בשנת 2015 כניסוי שמטרתו לחקור ולהבין את הצרכים של אתרי איקומרס וכיצד אתרים אלו יכולים להרוויח ממהפכת המכירות באינטרנט. אבל במקום להסתפק בתיאוריה, צללנו לפרקטיקה והקמנו אתר מכירות אמיתי - בנינו סביבו מערך שירות לקוחות, מכירות, לוגיסטיקה ושיווק והתנסנו על בשרנו בתפעול השוטף. למדנו את הצרכים, הבעיות והקשיים ופיתחנו פתרונות יעילים שמתאימים לצרכים וליכולות של אתרים קטנים, בינוניים וגדולים. כיום אנו מציעים לחברות נוספות ליהנות ממערך התפעול, השירות והשיווק המתקדם שבנינו, מכוח האדם המנוסה ומהידע שצברנו.</p>
      <p><strong>עשרות חברות ואתרים כבר נהנים מהשירותים אותם אנו מספקים. בעזרתנו גם אתם תוכלו לשפר את הביצועים של האתר שלכם, להגדיל את שביעות רצון הלקוחות, להקטין את ההתעסקות היומיומית בתפעול השוטף וליהנות מסטנדרטים תפעוליים, שירותיים ושיווקיים ברמה הגבוהה ביותר- סטנדרטים שהיו שמורים עד היום רק לגדולים.</strong></p>
    </div>
    <!-- end descr -->
  </div>

  <div class="s-descr__img">
    <div class="s-descr__img-title title title--h2">הידעת?</div>
    <img class="js-lazy" alt="" src="about:blank" data-src="./img/home/Image 1.png"/>
  </div>
</section>
<!-- end section -->