.btn
  display: inline-block
  border: 1px solid $accent
  background-color: $accent
  padding: .45em 3.7em
  font-weight: 700
  text-align: center
  +tr(opacity .3s)
  +sm
    font-size: 16px
  &--lg
    font-size: 44px
  &--full
    width: 100%
