.footer
  background-color: $accent-2
  color: $white
  font-weight: 700
  &__inner
    padding-top: 3px
    padding-bottom: 3px

    margin-left: auto
    margin-right: auto
    max-width: 1500px
    padding-left: $container-padding
    padding-right: $container-padding
    +flex(space-between, center)
    +not-rtl
      flex-direction: row-reverse
    // +lg
    //   padding-top: 25px
    //   padding-bottom: 18px
    +sm
      padding-top: 10px
      padding-bottom: 10px
  &__text
    padding-right: 10px
  &__text-nmb
    display: inline-block
    margin-left: 100px
    +not-rtl
      margin-left: 0
      margin-right: 100px

    +xs
      margin-left: 0
    +xxs
      display: block
