.form
  background-color: $white
  padding: 54px 86px 36px
  text-align: center
  &__upttl
    margin-bottom: 20px
  &__title
    margin-bottom: 22px
  &__subttl
    font-weight: 700
    margin-bottom: 35px
  &__fields
    +flex(flex-start, normal, row, wrap)
    margin-left: -10px
    margin-right: -10px
    margin-bottom: -67px + 37px
  &__field
    width: 50%
    margin-bottom: 67px
    padding-left: 10px
    padding-right: 10px
  &__btn
    margin-bottom: 22px
  &__code
    font-weight: 700
