.header
  position: fixed
  z-index: 10
  top: 0
  left: 0
  right: 0
  +before
    z-index: 0
    +coverdiv
    background-color: $white
    +shadow
    +lg
      z-index: 2
  &__logo
    position: absolute
    z-index: 3
    top: 0
    left: 0
    +xl
      width: 150px
    +lg
      width: 80px
    img
      position: relative
      &.lazy--loaded
        margin-top: -1.5em
        +xl
          margin-top: 0
  &__inner
    +flex(flex-start, center)
    height: $header-height
    position: relative
    +lg
      height: $header-height-lg
  &__nav
    @extend .container
    +lg
      padding-left: 0
      padding-right: 0
  &__nav-wrap
    width: 100%
    +lg
      min-width: percentage(117 / 375)
      width: auto
      position: fixed
      z-index: 1
      top: 0
      right: 0
      padding-top: $header-height-lg
      padding-left: 10px
      padding-right: 15px
      padding-bottom: 10px
      overflow: auto
      background-color: $white
      transform: translate(100%, 0)
      +shadow
      +ready
        +tr(transform .5s $easeOutQuart)
      &--open
        transform: translate(0, 0)
  &__lang
    position: absolute
    z-index: 1
    left: 100%
    top: 50%
    transform: translate(0, -50%)
    font-weight: 700
    +lg
      position: static
      transform: translate(0, 0)
  &__burger
    position: relative
    z-index: 3
    +lgmin
      display: none

.burger 
  display: block
  width: 28px
  height: 28px
  position: relative
  span
    display: block
    &, &::after, &::before
      width: 100%
      height: 2px
      background-color: currentColor
      backface-visibility: hidden
      border-radius: 2px
      +tr(transform .3s)
    &::after, &::before
      content: ""
      position: absolute
      left: 0
    &::after
      top: 5px
    &::before
      bottom: 5px
  &--active 
    span
      background-color: transparent
      &::before
        transform: rotate(45deg) translate(-7px,-5px)
      &::after
        transform: rotate(-45deg) translate(-6px,4px)
