.s-services
  padding-top: 115px
  padding-bottom: 159px

.s-form
  padding-top: 175px
  padding-bottom: 175px

.s-descr
  padding-top: 148px
  padding-bottom: 220px
  position: relative
  z-index: 2
  margin-bottom: 186px
  &__title
    margin-bottom: 62px
  &__img
    position: absolute
    z-index: 1
    top: 100%
    left: 50%
    transform: translate(-50%, -50%)
  &__img-title
    +vcenter


  