.s-services
  padding-top: 115px
  padding-bottom: 159px

.s-form
  padding-top: 175px
  padding-bottom: 175px

.s-descr
  padding-top: 148px
  padding-bottom: 220px
  &__title
    margin-bottom: 62px

.s-grid-items
  position: relative
  z-index: 2
  padding-top: 297px
  padding-bottom: 65px
  &__img
    position: absolute
    z-index: 1
    top: 0
    left: 50%
    transform: translate(-50%, -50%)
  &__title
    +vcenter

.s-form-service
  padding-top: 60px
  padding-bottom: 46px
  &__form
    margin-bottom: 99px

.s-blog
  padding-top: 130px
  padding-bottom: 149px
  