.section
  &__title
    text-align: center
    margin-bottom: 24px
  &__subttl
    max-width: 752px
    margin-left: auto
    margin-right: auto
    margin-bottom: 100px

  &--bg
    +cover
    background-color: $c-light