.services
  $this: &
  $grid-gutter: 10px

  +flex(space-between, normal, row, wrap)
  +sm
    display: block
  &__item
    width: 197px
    margin-bottom: 17px
    +md
      width: 160px
    +sm
      margin-left: auto
      margin-right: auto
    +xxs
      max-width: 185px 
  &:not(#{$this}--full)
    +lg
      justify-content: center
    #{$this}__item
      +xl
        width: 160px
      +lg
        width: 33.33333%
        padding-left: $grid-gutter / 2
        padding-right: $grid-gutter / 2
      +md
        width: percentage(185 / 375)

      

  &--full
    $grid-gutter-sm: 18px
    +sm
      display: flex
      margin-left: -30px - ($grid-gutter-sm / 2)
      margin-right: -30px - ($grid-gutter-sm / 2)
    #{$this}__item
      +sm
        margin-left: 0
        margin-right: 0
        padding-left: $grid-gutter-sm / 2
        padding-right: $grid-gutter-sm / 2
        width: 50%

.service-card
  $this: &
  padding: 39px 23px 23px
  background-color: $white
  +flex(flex-start, normal, column)
  +shadow
  height: calc(100% - 16px)
  margin-bottom: 16px
  text-align: center  
  &__img
    margin-left: auto
    margin-right: auto
    margin-bottom: 20px
  +sm
    flex-direction: row
    text-align: inherit
    padding: 9px
    +not-rtl
      flex-direction: row-reverse
    #{$this}__img
      margin-bottom: 0
      margin-right: 0
      margin-left: 18px

.service-img
  $this: &
  width: 97px
  padding-bottom: 50px
  border-bottom: 2px solid  $blue
  +sm
    &:not(#{$this}--side)
      width: 69px
      flex: 0 0 69px
      padding-bottom: 0
      padding-left: 18px
      border-bottom: 0
      border-left: 2px solid  $blue
      +flex(center, center)
  +r(374)
    &:not(#{$this}--side)
      flex: 0 0 50px

  &--side
    +lg
      width: 60px
      padding-bottom: 0
      border-bottom: 0
    +md
      width: 50px
    +sm
      width: 37px

