.social
  li
    display: inline-block
    +notlast
      margin-left: 79px
      +xl
        margin-left: 65px
      +lg
        margin-left: 50px
      +md
        margin-left: 40px
      +sm
        margin-left: 30px
      +r(374)
        margin-left: 10px
  a
    display: inline-block
    .icon
      font-size: 58px
      +xl
        font-size: 50px
      +lg
        font-size: 40px
      +md
        font-size: 30px
      +sm
        font-size: 22px